{% extends "main.html" %}
{% block body %}
    <br>



        <div class="arrow-container pe-3">
            <i class="fa-solid fa-arrow-left" style="font-size: 24px; cursor: pointer;"></i>
        </div>

        <div class="test">

                <h1>Question ()  :</h1>
            <br>
            <br>
            <br>

            <div class="titre_article">(( enigme.question ))
                <br><br>
                <div class="article">
                    <form action='/jouer' method="POST">
                        <input type="hidden" name="id" value="(( enigme.id ))" />
                        <input type="text" class="form-control" name="reponse" /><br>
                        <input type="submit" name="submit_answer" class="btn btn-outline-success" value="Envoyer" />
                        <a class="btn btn-outline-success" data-bs-toggle="collapse" href="#hint">Afficher un indice</a>
                        <button type="submit" name="change_clue" class="btn btn-outline-success">Changer d'indice</button>
                        <div id="hint" class="collapse solution"><p>(( enigme.hint ))</p></div>
                    </form>
                </div>
            </div>
        </div>

        <br>

        <div class="test titre_score">Votre score :
                {% if true %}
                    <div class="test">
                        <p>En construction</p>
                    </div>
                {% else %}
                    <div class="test">
                        <p>Veuillez <a href="/connexion">vous connecter</a> pour voir votre score actuel</p>
                    </div>
                {% endif %}
        </div>

{% endblock %}