{% import 'macros/macro.html' as macro %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Site_Web</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="../static/font-awesome-4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="../static/css/style.css" rel="stylesheet">

    </head>
    <body>
        <!-- Sidebar -->
    <div class="wrapper">
        <aside id="sidebar" style="display:none;">
            <div class="h-100">
                <div class="sidebar-logo">
                    <a href="/">SiteWeb</a>
                </div>
                <!-- Sidebar Navigation -->
                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Header 1
                    </li>
                    <li class="sidebar-item">
                        <a href="/" class="sidebar-link fw-bold">
                            <i class="fa-solid fa-list pe-2"></i>
                            Accueil

                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#pages"
                            aria-expanded="false" aria-controls="pages">
                            <i class="fa-regular fa-file-lines pe-2"></i>
                            Enigmes
                        </a>
                        <ul id="pages" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="/liste" class="sidebar-link">Listing</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#dashboard"
                            aria-expanded="false" aria-controls="dashboard">
                            <i class="fa-solid fa-sliders pe-2"></i>
                            Nav_Templ
                        </a>
                        <ul id="dashboard" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Item 1</a>
                            </li>

                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Item 2</a>
                            </li>

                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Item 3</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link">Item 4</a>
                            </li>
                        </ul>
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed fw-bold" data-bs-toggle="collapse" data-bs-target="#auth"
                            aria-expanded="false" aria-controls="auth">
                            <i class="fa-regular fa-user pe-2"></i>
                            {% if username != "Users" %}
                            {{ username }}
                            {% else %}
                            Users
                            {% endif %}
                        </a>
                        <ul id="auth" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            {% if username != "Users" %}

                            <li class="sidebar-item">
                                <a href="/deconnexion" class="sidebar-link">Déconnexion</a>
                            </li>
                            <li class="sidebar-item">
                                <a href="/profil" class="sidebar-link">Profil</a>
                            </li>

                            {% else %}

                            <li class="sidebar-item">
                                <a href="/connexion" class="sidebar-link">Connexion</a>
                            </li>

                            {% endif %}
                        </ul>
                    </li>
                    <li class="sidebar-header">
                        Header 2
                    </li>
                    <li class="sidebar-item">
                        <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse" data-bs-target="#multi"
                            aria-expanded="false" aria-controls="multi">
                            <i class="fa-solid fa-share-nodes pe-2"></i>
                            Annexes
                        </a>
                        <ul id="multi" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
                            <li class="sidebar-item">
                                <a href="#" class="sidebar-link collapsed" data-bs-toggle="collapse"
                                    data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                                    Pages
                                </a>
                                <ul id="multi-two" class="sidebar-dropdown list-unstyled collapse">
                                    <li class="sidebar-item">
                                        <a href="/page_not_found" class="sidebar-link">404</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/502" class="sidebar-link">502</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/construction" class="sidebar-link">Constructions</a>
                                    </li>
                                    <li class="sidebar-item">
                                        <a href="/infos" class="sidebar-link">Infos</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

        </aside>

         <div>
            {% block body %}{% endblock %}
        </div>
    </div>

    <!-- Main Component -->
    <div id="navbar" class="main">
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom px-3">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="/">Navbar</a>
              <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="/" >Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/liste">Liste</a>
                  </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="collapse"
                        data-bs-target="#multi-two" aria-expanded="false" aria-controls="multi-two">
                        Pages
                    </a>
                    <ul id="multi-two" class="dropdown-menu dropdown-menu-dark">
                        <li class="nav-item active">
                            <a href="/page_not_found" class="dropdown-item">404</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/502" class="dropdown-item">502</a>
                        </li>
                        <li class="nav-item active">
                            <a href="/construction" class="dropdown-item">Constructions</a>
                        </li>
                        <li class="nav-item active" >
                            <a href="/infos" class="dropdown-item">Infos</a>
                        </li>
                    </ul>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/jouer">Jouer</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/connexion">Connexion</a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
    </div>



    </body>

    <footer class="fixed-bottom" style="padding-left: 55%; padding-bottom:0.5%">
        <div class="textFooter">Author : <a href="mailto:raphael.louys@student.unamur.be">Raphaël LOUYS</a></div>

      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
        <label class="form-check-label" for="flexSwitchCheckChecked">Toggle menu</label>
      </div>


    </footer>


</html>
<script src="../static/js/script.js"></script>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        var loaderContainer = document.createElement('div');
        loaderContainer.style.position = 'fixed';
        loaderContainer.style.left = '0';
        loaderContainer.style.top = '0';
        loaderContainer.style.width = '100%';
        loaderContainer.style.height = '100%';
        loaderContainer.style.backgroundColor = 'rgba(241, 242, 243, 1)'; // Background color
        loaderContainer.style.zIndex = '9999';
        loaderContainer.style.display = 'flex';
        loaderContainer.style.justifyContent = 'center';
        loaderContainer.style.alignItems = 'center';

        // Create an <img> element to display the animated SVG
        var loaderSVG = document.createElement('img');
        loaderSVG.src = '/static/src/Infinity-1s-200px.svg'; // Replace with the actual path to your animated SVG
        loaderSVG.style.width = '200px'; // Adjust the width and height as needed
        loaderSVG.style.height = '200px';

        // Append the loader SVG to the container
        loaderContainer.appendChild(loaderSVG);

        // Append the container to the document body
        document.body.appendChild(loaderContainer);

        setTimeout(function() {
            document.body.removeChild(loaderContainer);
        }, 200); // Adjust the time in milliseconds as needed (e.g., 3000 milliseconds = 3 seconds)
});

document.addEventListener('DOMContentLoaded', function() {
    const toggleSwitch = document.getElementById('flexSwitchCheckChecked');
    const sidebar = document.getElementById('sidebar');
    const navbar = document.getElementById('navbar');

    toggleSwitch.addEventListener('change', function() {
        console.log("test")
        if (this.checked) {
            console.log("test1")
            sidebar.style.display = 'none'; // Show sidebar
            navbar.style.display = 'block';   // Hide navbar
        } else {
            console.log("test2")
            sidebar.style.display = 'block';  // Hide sidebar
            navbar.style.display = 'none';  // Show navbar
        }
    });
});


</script>
