<!-- MACRO POUR GÉNERER DES FORM FIELD -->

{% macro generateFormField(id, value, placeholder, label, type, step) %}
    <div class="form-floating">
        <input placeholder="{{placeholder}}"
               step="{{ step }}"
               type="{{ type }}"
               style="background-color: white;"
               id="{{ id }}"
               name="{{ id }}"
               class="form-control shadow-lg"
               value="{{ value }}"
               required
               pattern="{{ '\\d*' if numeric_only else '\\S+.*' }}"
               title="{{ 'This field cannot be blank.' }}" >
        <label for="{{ id }}" class="form-label">{{ placeholder|capitalize }}</label>
    </div>
{% endmacro %}


<!-- MACRO POUR GÉNERER DES SUBMIT BUTTON -->
{% macro generateFormSubmit(class, placeholder ,retour, link) %}
        <!-- Bouton retour ? -->
        {% if retour %}
        <a href="{{ link }}" class="btn btn-outline-secondary">Retour</a>
        {% endif %}

        <button type="submit" class="{{ class }}"> {{ placeholder }} </button>

{% endmacro %}

{% macro generateNewFormField(id, value, placeholder, label, type, step, title, isPrice) %}

<div data-mdb-input-init class="form-outline" style="width: 100%; margin-bottom: 1rem;">
    {% if isPrice %}
    <i class="fas fa-euro-sign trailing"></i>
    <input name="{{id}}" id="{{ id }}" step = "{{step}}" value="{{ value }}" type="{{type}}"   class="form-control form-controls form-icon-trailing" />
    <label class="form-label form-labels" for="{{ id }}">{{ title }}</label>

    {% else %}
    <input name="{{id}}" id="{{ id }}" step = "{{step}}" value="{{ value }}" type="{{type}}"   class="form-control form-controls" />
    <label class="form-label form-labels" for="{{ id }}">{{ title }}</label>

    {% endif %}
</div>

{% endmacro %}
















