
{% extends "main.html" %}
{% block body %}

<br>

<div class="listePage responsiveBox">

    <i class="fa-solid fa-book-journal-whills ajouter-icon"></i>

    <br><br><br>

    <div>
        <br>
        <div>
            <!-- FORM TO CREATE A BOOK -->
            <form id="mainForm">

                <!-- NOM -->
                {{ macro.generateFormField("nom", '', "Nom du livre", false, "text") }}
                <br>
                <!-- AUTEUR -->
                {{ macro.generateFormField("auteur", '', 'Auteur', false, "text") }}
                <br>
                <!-- EDITEUR -->
                {{ macro.generateFormField("editeur", '', 'Editeur', false, "text") }}
                <br>
                <!-- PRICE -->
                {{ macro.generateFormField("price", '', 'Prix', false, "number") }}
                <br><br>

                <input type="hidden" name="boolContinue" id="continueInput">
                <!-- BUTTONS -->

                    <div class="form-group">
                        <!-- Bouton retour ? -->
                        <a href="/liste" class="btn btn-outline-secondary">Retour</a>
                        <button type="submit" class="btn btn-outline-success" id="submitSend"> Envoyer </button>
                        <button type="submit" class="btn btn-outline-success" id="submitContinue"> Envoyer et continuer </button>
                    </div>


            </form>
        </div>
    </div>
</div>


<script>
// Add event listener to the "Envoyer" button
document.getElementById('submitSend').addEventListener('click', function() {
    var form = document.getElementById('mainForm');
    // Set the form action to '/ajouter'
    form.action = '/ajouter';
    form.method = 'POST';

    // !continue
    document.getElementById('continueInput').value = 'false';
    form.submit();
});

// Add event listener to the "Envoyer et continuer" button
document.getElementById('submitContinue').addEventListener('click', function() {
    var form = document.getElementById('mainForm');
    // Set the form action to the other API URL
    form.action = '/ajouter';
    form.method = 'POST';

    // continue
    document.getElementById('continueInput').value = 'true';
    form.submit();
});
</script>

{% endblock %}
