{% extends "main.html" %}
{% block body %}

<br>

<div style="max-width:60vh; width: 100%; margin: auto;" class="listePage">


    <br><br>
    <i class="fas fa-user-circle fa-lg" style="font-size:9vh; color:rgba(25, 135, 84, 0.5);"></i>
    <br><br><br>

    <!-- Verifier si un message d'erreur est passé au template et l'afficher -->
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
    <!-- FORM TO SUBMIT CONNEXION INFOS -->
    <form action="/connexion" method="POST" class="mb-3">
        <!-- USERNAME -->
        {{ macro.generateFormField('username', '', 'Nom d\'utilisateur ou e-mail', 'Nom d\'utilisateur ou e-mail') }}
        <br>
        <!-- PASSWORD -->
        {{ macro.generateFormField("password", '', "Mot de passe", "password", "password") }}
        <br>
        <!-- BUTTONS CONTAINER -->
        <div class="d-flex justify-content-between">
            <!-- SUBMIT BUTTON -->
            {{ macro.generateFormSubmit("btn btn-outline-success", "Se connecter", false) }}
            <!-- S'INSCRIRE LINK BUTTON -->
            <a href="/inscription" class="btn btn-outline-primary align-self-end">S'inscrire</a>
        </div>
    </form>

    <p class="text-muted"><a id="askpass" href="/infos" style="color: black;">Forgot your password?</a></p>

</div>

{% endblock %}