{% extends "main.html" %}
{% block body %}

<main class="content px-3 py-2">

    <div class="container-fluid">
        <div class="mb-3 listePage responsiveBox" style="max-width: 70vh!important;">

            <h1>Bienvenue sur H-Library !</h1>
            <br/><br/>
            <h5>Par quoi commencer ? </h5>
            <br>

            <div class="list-group list-group-light mb-2">
                <a href="/infos">
                    <button type="button"
                            class="list-group-item list-group-item-action px-3 border-0 list-group-item-warning"
                            aria-current="true"
                            style="color:black;">
                    Lire les informations
                    </button>
                </a>
            </div>
            <br>


            <div class="list-group list-group-light">

                {% if is_authenticated %}

                <a href="/profil">
                    <button id="profileIndex" type="button" style="background-color: rgba(25, 135, 84, 0.5); color:black;" class="list-group-custom-success list-group-item list-group-item-action px-3 border-0  list-group-item-success"
                    aria-current="true">
                    Voir son profil
                    </button>
                </a>
                <a href="/deconnexion">
                    <button type="button" class=" list-group-custom-success list-group-item list-group-item-action px-3 border-0  mb-2 list-group-item-success">
                    Se déconnecter
                    </button>
                </a>

                {% else %}

                <a href="/connexion">
                    <button id="authIndex" type="button" style="background-color: rgba(25, 135, 84, 0.5); color:black;" class="list-group-custom-success list-group-item list-group-item-action px-3 border-0  list-group-item-success"
                    aria-current="true">
                    Se connecter
                    </button>
                </a>
                <a href="/inscription">
                    <button type="button" class=" list-group-custom-success list-group-item list-group-item-action px-3 border-0  mb-2 list-group-item-success">
                    S'inscrire
                    </button>
                </a>
                {% endif %}

                {% if privileges == "admin" %}

                <a href="/userlist">
                    <button type="button" class=" list-group-custom-success list-group-item list-group-item-action px-3 border-0  mb-2 list-group-item-success">
                    Accéder à la liste des utilisateurs
                    </button>
                </a>

                {% endif %}
            </div>


            <br>


            <div class="list-group list-group-light">
                <!-- BOUTON BIBLIOTHEQUE -->
                <a href="/liste">
                    <button id="listeIndex" type="button" style="background-color: rgba(25, 135, 200, 0.5); color:black;" class="list-group-custom-primary list-group-item list-group-item-action px-3 border-0  list-group-item-primary"
                    aria-current="true">
                    Accéder à la bibliothèque
                    </button>
                </a>
                <!-- BOUTON AJOUTER UN LIVRE -->
                <a href="/ajouter">
                    <button type="button" class=" list-group-custom-primary list-group-item list-group-item-action px-3 border-0  mb-2 list-group-item-primary">
                    Ajouter un livre
                    </button>
                </a>
            </div>



            </div>
        </div>
    </div>
</main>

{% endblock %}