{% extends "main.html" %}
{% block body %}

<br>

<div style="max-width: 50%; " class="listePage">

    <h1>Page d'informations</h1>

    <br><br><br>
    <div style="text-align: left; padding-left: 1rem; border-left: 1px solid darkgreen;">
        <p>Pour afficher son <strong>profil</strong>, il faut être connecté</p>

        <p>Vous pouvez vous <strong>connecter</strong> avec les credentials : <span style="margin-left: 0.5rem; padding: 0.5rem; border: 1px solid darkgreen;">admin / Admin123</span></p>

        <p>Une fois connecté, si vous êtes <strong>administrateur</strong> vous avez accès à la <strong>liste des utilisateurs</strong> dans le menu : <em>VotreUtilisateur | Liste</em></p>

        <p>La <strong>liste des livres</strong> est disponible dans <em>Livres | Bibliothèque</em></p>

        <p>Des <strong>boutons spéciaux</strong> sont disponibles, vous permettant de <strong>générer</strong> soit <strong>des livres</strong> soit <strong>des utilisateurs</strong>, afin de remplir la DB.</p>

        <p>Le bouton "Empty Table" <strong>vide la table</strong> des livres, et des utilisateurs, mais conserve les utilisateurs "admin".</p>

        <p>Les <strong>annexes</strong> sont les pages d'erreurs et autres pages. Afin de vous éviter la génération de cette erreur, elles sont directement disponible dans le menu.</p>
    </div>
</div>


{% endblock %}