{% extends "main.html" %}
{% block body %}

<div class="container my-5">
    <div class="row justify-content-center align-items-center">

        <!-- BOUTTON POUR PASSER AU user PRÉCÉDENT -->
        <div class="col-auto d-flex align-items-center">
            {% if user.id > 1 %}
            <a href="/modifier_user?id={{user.id - 1}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            {% else %}
            <a href="/modifier_user?id={{max_id}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            {% endif %}
        </div>


        <!-- Main Content -->
        <div class=" col-md-8">
            <div style="position: relative!important; max-width:60vh; width: 100%; margin: auto;" class="listePage">

                <h1>Utilisateur {{ user.id }} :</h1>

                <br><br><br>

                <!-- FORM POUR MODIFIER LES INFOS D'UN user -->
                <form id="modifier" action="/userlist" method="POST">



                    <input type="hidden" value="{{ user['id'] }}" name="id"/>
                    <input type="hidden" value="modify" name="modify"/>
                    <!-- USER USERNAME -->
                    {{ macro.generateNewFormField("username", user.username, user.username, true, "text", '', "Username") }}
                    <br>

                    <!-- USER EMAIL ADDRESS -->
                    {{ macro.generateNewFormField("email", user.email, user.email, true, "email", '', "email") }}
                    <br>

                    {{ macro.generateNewFormField("name", user.name, user.name, true, "name", '', "Name") }}
                    <br>

                    {{ macro.generateNewFormField("firstname", user.firstname, user.firstname, true, "firstname", '', "Firstname") }}
                    <br>

                    <!-- USER PRIVILEGES -->
                    <div class="form-outline" style="width: 100%; margin-bottom: 1rem;">
                        <select name="privileges" class="selectmdb select form-control form-controls" id="privileges" style="border: 1px solid #BEBEBE; color:darkgreen;">
                            <option value="admin" {% if user.privileges == "admin" %}selected{% endif %}>Administrateur</option>
                            <option value="user" {% if user.privileges != "admin" %}selected{% endif %}>Client</option>
                        </select>
                    </div>

                    <br>
                    <!-- USER PASSWORD -->
                    <div data-mdb-input-init class="form-outline" style="width: 100%; margin-bottom: 1rem;">
                        <input name="password" id="password" type="password" class="form-control form-controls"
                               pattern="{{ '\\d*' if numeric_only else '\\S+.*' }}"
                               title="{{ 'This field cannot be blank.' }}" />
                        <label class="form-label form-labels" for="password">New Password</label>
                    </div>

                    <br>


                    <div data-mdb-input-init class="form-outline" style="width: 100%; margin-bottom: 1rem;">
                        <input name="confirm_password" id="confirm_password" type="password" class="form-control form-controls"
                               pattern="{{ '\\d*' if numeric_only else '\\S+.*' }}"
                               title="{{ 'This field cannot be blank.' }}" />
                        <label class="form-label form-labels" for="password">Confirm Password</label>
                    </div>
                    <!-- CONFIRM PASSWORD -->

                    <div class="btn-group user-radio" style="margin-bottom: 2rem;">
                      <!-- Radio button for "Locked" -->
                      <input type="radio" class="btn-check" name="is_locked" id="option1" value="true" autocomplete="off" />
                      <label class="btn btn-success" for="option1" data-mdb-ripple-init>Bloqué</label>

                      <!-- Radio button for "lock" -->
                        {% if user.is_locked %}

                      <input type="radio" class="btn-check" name="is_locked" id="option2" value="true" autocomplete="off" checked/>
                      <label class="btn" for="option2" data-mdb-ripple-init>Oui</label>
                      <input type="radio" class="btn-check" name="is_locked" id="option3" value="false" autocomplete="off"/>
                      <label class="btn" for="option3" data-mdb-ripple-init>Non</label>

                        {% else %}

                      <input type="radio" class="btn-check" name="is_locked" id="option2" value="true" autocomplete="off" />
                      <label class="btn" for="option2" data-mdb-ripple-init>Oui</label>
                      <input type="radio" class="btn-check" name="is_locked" id="option3" value="false" autocomplete="off" checked/>
                      <label class="btn" for="option3" data-mdb-ripple-init>Non</label>

                        {% endif %}

                      <!-- Default Radio button for "Unlocked" checked by default -->
                    </div>

                    <br>
                    <div class="form-group">
                        {{ macro.generateFormSubmit("btn btn-outline-success", "Modifier", true, "/userlist") }}
                    </div>
                </form>

            </div>
        </div>



        <!-- BOUTTON POUR PASSER AU LIVRE SUIVANT -->
        <div class="col-auto d-flex align-items-center">


            {% if user.id < max_id %}
            <a href="/modifier_user?id={{user.id + 1}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            {% else %}
            <a href="/modifier_user?id=1" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

