{% extends "main.html" %}
{% block body %}

<div class="container my-5">
    <div class="row justify-content-center align-items-center">

        <!-- BOUTTON POUR PASSER AU user PRÉCÉDENT -->
        <div class="col-auto d-flex align-items-center">
            {% if user.id > 1 %}
            <a href="/modifier_user?id={{user.id - 1}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-left"></i>
            </a>
            {% else %}
            <a href="/modifier_user?id={{max_id}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-left"></i>
            </a>

            {% endif %}
        </div>


        <!-- Main Content -->
        <div class=" col-md-8">
            <div style="position: relative!important; max-width:60vh; width: 100%; margin: auto;" class="listePage">

                <h1>Utilisateur {{ user.id }} :</h1>

                <br><br><br>

                <!-- FORM POUR MODIFIER LES INFOS D'UN user -->
                <form id="modifier" action="/userlist" method="POST">



                    <input type="hidden" value="{{ user['id'] }}" name="id"/>

                    <!-- USER USERNAME -->
                    {{ macro.generateNewFormField("username", user.username, user.username, true, "text", '', "Username") }}
                    <br>

                    <!-- USER EMAIL ADDRESS -->
                    {{ macro.generateNewFormField("email", user.email, user.email, true, "text", '', "email") }}
                    <br>

                    <!-- USER PRIVILEGES -->
                    {{ macro.generateNewFormField("privileges", user.privileges, user.privileges, true, "text", '', "privileges") }}
                    <br>

                    <!-- USER PASSWORD -->
                    {{ macro.generateNewFormField("password", '', user.password_hash, true, "password", '', "New Password") }}
                    <br>

                    <!-- CONFIRM PASSWORD -->
                    {{ macro.generateNewFormField("confirm_password", '', '', true, "password", '', "Confirm Password") }}

                    <div class="btn-group user-radio" style="margin-bottom: 2rem;">
                      <!-- Radio button for "Locked" -->
                      <input type="radio" class="btn-check" name="is_locked" id="option1" value="true" autocomplete="off" />
                      <label class="btn btn-success" for="option1" data-mdb-ripple-init>Bloqué</label>

                      <!-- Radio button for "lock" -->
                        {% if user.is_locked %}

                      <input type="radio" class="btn-check" name="is_locked" id="option2" value="true" autocomplete="off" checked/>
                      <label class="btn" for="option2" data-mdb-ripple-init>Oui</label>
                      <input type="radio" class="btn-check" name="is_locked" id="option3" value="false" autocomplete="off"/>
                      <label class="btn" for="option3" data-mdb-ripple-init>Non</label>

                        {% else %}

                      <input type="radio" class="btn-check" name="is_locked" id="option2" value="true" autocomplete="off" />
                      <label class="btn" for="option2" data-mdb-ripple-init>Oui</label>
                      <input type="radio" class="btn-check" name="is_locked" id="option3" value="false" autocomplete="off" checked/>
                      <label class="btn" for="option3" data-mdb-ripple-init>Non</label>

                        {% endif %}

                      <!-- Default Radio button for "Unlocked" checked by default -->
                    </div>

                    <br>

                    {{ macro.generateFormSubmit("btn btn-outline-success", "Modifier", true, "/userlist") }}

                </form>

            </div>
        </div>



        <!-- BOUTTON POUR PASSER AU LIVRE SUIVANT -->
        <div class="col-auto d-flex align-items-center">


            {% if user.id < max_id %}
            <a href="/modifier_user?id={{user.id + 1}}" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            {% else %}
            <a href="/modifier_user?id=1" class="btn btn-outline-success" style="font-size: 24px; cursor: pointer; display: inline-block; text-align: center;">
                <i class="fa-solid fa-arrow-right"></i>
            </a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

