{% extends "main.html" %}
{% block body %}

<br>



<br>

<div class="listePage">

    {% if message %}
    <div class="alert alert-success">
        {{message}}
    </div>
    {% endif %}
    <form action="/update-profile" method="post">
        <!-- USER USERNAME -->
        <div class="form-group">
            <label>Nom d'utilisateur</label>
            <input type="text" class="form-control" name="username" id="username" value="{{ user.username }}"/>
            <div class="invalid-feedback" id="usernameError"
                 style="display:{{ 'block' if error_username else 'none' }};">
                {{ error_username or '' }}
            </div>
        </div>

        <br>

        <!-- USER EMAIL -->
        <div class="form-group">
            <label>E-mail</label>
            <input type="email" class="form-control" name="email" id="email" value="{{ user.email }}"/>
            <div class="invalid-feedback" id="emailError" style="display: {{ 'block' if error_email else 'none' }};">
                {{ error_email or '' }}
            </div>
        </div>

        <br>
        <!-- USER PRIVILEGES -->
        <div class="form-group">
            <label>Privilèges</label>
            <input type="text" class="form-control" name="privileges" value="{{ user.privileges }}" readonly/>
        </div>

        <br>
        <!-- USER NAME -->
        <div class="form-group">
            <label>Prénom</label>
            <input type="text" class="form-control" name="firstname" value="{{ user.firstname }}" />
        </div>
        <br>
        <!-- USER FIRSTNAME -->
        <div class="form-group">
            <label>Nom</label>
            <input type="text" class="form-control" name="name" value="{{ user.name }}" />
        </div>
        <br>
        <!-- USER DATE -->
        <div class="form-group">
            <label>Date d'inscription</label>
            <input type="text" class="form-control" name="date_added" value="{{ user.date_added }}" readonly/>
        </div>
        <!-- Modifier mot de passe button -->
        <!-- <button type="button" id="changePasswordButton" class="btn btn-primary"> -->
        <!-- Modifier mot de passe -->
        <!-- </button> -->
        <br>
        <div class="accordion" id="accordion_pwd">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button {{ 'collapsed' if not (error_current_password or error_new_password or error_new_password_length or error_new_password_match or error_confirm_password) else '' }}"
                            type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapseOne"
                            aria-expanded="{{ 'true' if (error_current_password or error_new_password or error_new_password_length or error_new_password_match or error_confirm_password) else 'false' }}"
                            aria-controls="collapseOne">
                        Modifier mot de passe
                    </button>
                </h2>
                <!-- Password Change Fields -->
                <div id="collapseOne"
                     class="accordion-collapse collapse {{ 'show' if (error_current_password or error_new_password or error_new_password_length or error_new_password_match or error_confirm_password) else '' }}"
                     data-bs-parent="#accordion_pwd">
                    <div class="accordion-body">
                        <div id="passwordChangeFields">
                            <div class="form-group">
                                <label>Mot de passe actuel</label>
                                <input type="password" class="form-control" name="currentPassword"
                                       placeholder="Mot de passe actuel">
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error_current_password or '' }}
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Nouveau mot de passe</label>
                                <input type="password" class="form-control" name="newPassword"
                                       placeholder="Nouveau mot de passe">
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error_new_password or error_new_password_length or error_new_password_match }}
                                </div>
                            </div>
                            <br>
                            <div class="form-group">
                                <label>Confirmer le nouveau mot de passe</label>
                                <input type="password" class="form-control" name="confirmPassword"
                                       placeholder="Confirmer le nouveau mot de passe">
                                <div class="invalid-feedback" style="display: block;">
                                    {{ error_confirm_password or error_new_password_length or error_new_password_match
                                    }}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <br>

        <!-- BUTTON -->
        <div class="flex items-center">
            <button type="submit" id="submit-button" class="btn btn-outline-success">
                Enregistrer
            </button>
        </div>
    </form>
</div>
{% endblock %}